<div class="col-md-6">
<img style="width: 50rem; height: 40rem; position: relative; left: 22rem; top: 2rem;" class="col-lg-12 col-md-12 col-sm-12" src="/c040a598a798352b85b88c5e89af9a47.gif" alt="">

</div>
<a href="http://localhost:3000">  <button style="position: relative;left: 42rem;" class="btn btn-primary">Return To Home</button></a>