
<head>
     <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    
</head>

<div class="xl col-md-12 col-sm-12 ">
    <!-- Account page navigation-->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                              
                                <a href="#">FAQs</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                           
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                       
                        <a href="/profile"><div class="price"> <i class="fa-regular fa-user"></i></div></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
       
    <div class="container">
   
        </div>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4 col-md-12">
            <!-- Profile picture card-->
        
            <div class="card mb-4 mb-xl-0">
                {{!-- <div class="card-header">Profile Picture</div> --}}
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                  
                    <!-- Profile picture upload button-->
                    {{!-- <button class="btn btn-primary" type="button">Upload new image</button> --}}
                    
                </div>
                <div class="text-center">
                    
                <tr>
                    {{#each profileDetail}}
            <td style="position: relative;">{{name}}</td>
                </tr>
                <br>
                <br>
                  <tr>
            <td class="text-center">{{email}}</td>
          </tr>
          <br>
          <br>
            <tr>
            <td class="text-center">{{phone}}</td>
            {{/each}}
          </tr>
            </div>
          <br>
           <a href="/editprofile"> <button style="position: relative;left: 39%;" class="btn btn-primary m-s-6 ">Edit Profile</button></a>
           <br>
          <p style="font-size: 1.6rem;" class="text-center">USER WALLET</p>
           <div class="col-md-12" style="background: rgb(99, 138, 149);
background: linear-gradient(0deg, rgb(89, 130, 141) 0%, rgb(53, 52, 30) 100%);border-radius: 14px;">
      <div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <p style="color: white;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 1.5rem;position: relative;left: 1%;">Male Warderobe</p>
        {{!-- <button style="background-color: transparent;position: relative;top: 3.7rem;" class="btn btn-primary ">History</button> --}}
        <!-- Button trigger modal -->
<a href="/walletHistory"><button style="background-color: transparent;position: relative;top: 12%; " type="button" class="btn btn-primary" >
 History
</button></a>

<!-- Modal -->


       <p style="position: relative;left: 60%;color: #fff;width: 20%;">WALLET AMOUNT</p> 
       
       <p style="color: white;position: relative;left: 60%;width: 15%;">{{wallet1}} </p>
       
      </div>

            

           </div>
            <tr>
                <br>
      
    </tr>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                
                 <a href="/userOederDetaile"><button style="background-color: white;color: black;border-color: white;" class="profile btn btn-primary">Orders</button></a> 
                 <a href="/userAddress"><button  style="background-color: white;color: black;border-color: white;float: left;" class="profile   btn btn-primary">Address</button></a> </a>


<style>
    .profile{
        display: inline-block;
        margin-right: 10px
    }
</style>
                 
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form action="/accessAddress" method="post">

                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">House Name </label>
                            <input class="form-control" name="name" id="inputUsername" type="text" placeholder="housename" value="">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">City</label>
                                <input class="form-control" name="city" id="inputFirstName" type="text" placeholder="City" value="">
                            </div>
                            <!-- Form Group (last name)-->
                             <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">State</label>
                                <input class="form-control" name="state" id="inputLastName" type="text" placeholder="State" value="">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Country</label>
                                <input class="form-control" name="country" id="inputLastName" type="text" placeholder="Country" value="">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Post Code</label>
                                <input class="form-control" name="postalcode" id="inputOrgName" type="text" placeholder="Enter address" value="">
                            </div>
                            <!-- Form Group (location)-->
                        </div>
                        <!-- Form Group (email address)-->
                       
                        </div>
                        <!-- Form Row-->
                        
                        <!-- Save changes button-->
                       <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- CSS -->


